html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

.upload-div {
  margin: auto;
  margin-top: 100px;
  max-width: 1000px;
}

.form-upload {
  width: 100%;
  padding: 15px;
  margin: auto;
}

.form-upload .checkbox {
  font-weight: 400;
}

.form-upload .form-floating:focus-within {
  z-index: 2;
}

.form-upload input[type="text"] {
  height: 55px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.update-div {
  margin: 100px auto;
  max-width: 1000px;
}
